<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>your recipe <%= recipe.name %></h1>
    <h2>Details</h2>
    <p>name: <%= recipe.name %></p>
    <p>instructions: <%= recipe.instructions %></p>
    <!-- To display the ingredient in your views -->
    <p>ingredients: <% recipe.ingredients.forEach(ingredient => { %>
        <%= ingredient.name %>
    <% }) %></p>

    <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
        <button type="submit"  >Delete recipe</button>
    </form>
    <br>
    <a href="/recipes/<%= recipe.id %>/edit">Edit recipe</a>
</body>
</html>