<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>your recipe <%= recipe.name %></h1>
    <h2>Details</h2>
    <p>name: <%= recipe.name %></p>
    <p>instructions: <%= recipe.instructions %></p>
    <p>ingredients: <%= recipe.ingredients %></p>
</body>
</html>